In [37]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
df = pd.read_csv("T1total.csv")

In [41]:
df.head()

,TimeStamp,WindSpeed,WindDirection,PitchAngle,Temperature,Power
0,2019-01-01 00:00:00,5.2,147.600006,-1.8,5.0,180.899994
1,2019-01-01 00:10:00,5.4,138.600006,-2.1,5.0,213.300003
2,2019-01-01 00:20:00,5.0,141.500000,-1.7,5.0,164.100006
3,2019-01-01 00:30:00,3.5,132.000000,0.6,5.0,21.799999
4,2019-01-01 00:40:00,3.8,136.899994,0.0,5.0,48.299999

In [43]:
df['TimeStamp'] = pd.to_datetime(df['TimeStamp'])

In [45]:
df_filtered = df[df['TimeStamp'] >= '2022-01-01 00:00:00']

In [47]:
df_filtered.head()

,TimeStamp,WindSpeed,WindDirection,PitchAngle,Temperature,Power
157824,2022-01-01 00:00:00,8.1,138.000000,-2.7,12.0,844.000000
157825,2022-01-01 00:10:00,7.4,135.000000,-2.6,11.0,689.799988
157826,2022-01-01 00:20:00,8.1,131.000000,-2.7,11.0,871.000000
157827,2022-01-01 00:30:00,8.0,134.000000,-2.8,12.0,846.799988
157828,2022-01-01 00:40:00,8.1,133.199997,-2.7,12.0,881.400024

In [52]:
df_filtered.info()
df_filtered.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 34992 entries, 157824 to 192815
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TimeStamp      34992 non-null  datetime64[ns]
 1   WindSpeed      34928 non-null  float64
 2   WindDirection  34928 non-null  float64
 3   PitchAngle     34928 non-null  float64
 4   Temperature    34928 non-null  float64
 5   Power          34928 non-null  float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 1.9 MB

TimeStamp         0
WindSpeed        64
WindDirection    64
PitchAngle       64
Temperature      64
Power            64
dtype: int64

In [54]:
df_filtered_cleaned = df_filtered.dropna()
df_filtered_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34928 entries, 157824 to 192815
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TimeStamp      34928 non-null  datetime64[ns]
 1   WindSpeed      34928 non-null  float64
 2   WindDirection  34928 non-null  float64
 3   PitchAngle     34928 non-null  float64
 4   Temperature    34928 non-null  float64
 5   Power          34928 non-null  float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 1.9 MB

In [56]:
df_filtered_cleaned.to_csv("temizlenmis_veri.csv", index=False)

In [58]:
df_last = pd.read_csv("temizlenmis_veri.csv")

In [62]:
df_last.head()

,TimeStamp,WindSpeed,WindDirection,PitchAngle,Temperature,Power
0,2022-01-01 00:00:00,8.1,138.000000,-2.7,12.0,844.000000
1,2022-01-01 00:10:00,7.4,135.000000,-2.6,11.0,689.799988
2,2022-01-01 00:20:00,8.1,131.000000,-2.7,11.0,871.000000
3,2022-01-01 00:30:00,8.0,134.000000,-2.8,12.0,846.799988
4,2022-01-01 00:40:00,8.1,133.199997,-2.7,12.0,881.400024

In [64]:
df_last_no_timestamp = df_last.drop(columns = ["TimeStamp"])

In [66]:
df_last_no_timestamp.head()

   WindSpeed  WindDirection  PitchAngle  Temperature       Power
0        8.1     138.000000        -2.7         12.0  844.000000
1        7.4     135.000000        -2.6         11.0  689.799988
2        8.1     131.000000        -2.7         11.0  871.000000
3        8.0     134.000000        -2.8         12.0  846.799988
4        8.1     133.199997        -2.7         12.0  881.400024

In [68]:
df_last_no_timestamp.to_csv("last.csv",index = False)